@{
    ViewData["Title"] = "Cài đặt phí ship";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Vận chuyển</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Cài đặt phí ship</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">CÀI ĐẶT PHÍ SHIP</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">Tính năng đang được phát triển.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

