@{
    ViewData["Title"] = "Nhóm khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">Khách hàng</a></li>
                <li class="breadcrumb-item active">Nhóm khách hàng</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">NHÓM KHÁCH HÀNG</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">Tính năng nhóm khách hàng đang được phát triển.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

