@{
    ViewData["Title"] = "Mã giảm giá";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Marketing</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mã giảm giá</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">QUẢN LÝ MÃ GIẢM GIÁ</h4>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-success mb-3">
                            <i class="fa fa-plus"> Thêm mã giảm giá</i>
                        </a>
                        <p class="text-muted">Tính năng đang được phát triển.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

