@model Do_an_1.Models.TbMenu

@{
    ViewData["Title"] = "Edit";
}

<<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Form</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Validation</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sửa Menu</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <form asp-action="Edit" class="needs-validation" novalidate="">
                                <input type="hidden" asp-for="MenuId" />
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="mb-3 row">
                                            <label asp-for="Title" class="col-lg-1 col-form-label" for="validationCustom06">
                                                Tiêu đề
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input asp-for="Title" type="text" class="form-control" id="validationCustom06" required="">
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="Alias" class="col-lg-1 col-form-label" for="validationCustom06">
                                                Alias
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input asp-for="Alias" type="text" class="form-control" id="validationCustom06" required="">
                                                <span asp-validation-for="Alias" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="Description" class="col-lg-1 col-form-label" for="validationCustom06">
                                                Mô tả
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input asp-for="Description" type="text" class="form-control" id="validationCustom06" required="">
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="Levels" class="col-lg-1 col-form-label" for="validationCustom06">
                                                Mức
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input asp-for="Levels" type="text" class="form-control" id="validationCustom06" required="">
                                                <span asp-validation-for="Levels" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="ParentId" class="col-lg-1 col-form-label" for="validationCustom06">
                                                Menu cha
                                            </label>
                                            <div class="col-lg-6">
                                                <input asp-for="ParentId" type="text" class="form-control" id="validationCustom06">
                                                <span asp-validation-for="ParentId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="Position" class="col-lg-1 col-form-label" for="validationCustom06">
                                                Vị trí
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input asp-for="Position" type="text" class="form-control" id="validationCustom06" required="">
                                                <span asp-validation-for="Position" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Hiển thị
                                            </label>
                                            <div class="col-lg-6">
                                                <input asp-for="IsActive" type="checkbox" class="form-check-input" id="validationCustom06" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 ms-auto">
                                            <button type="submit" class="btn btn-primary">Sửa</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>